<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="Server" value="LAPTOP-TOS67Q14"/>
    <add key="Company" value="PRD01"/>
    <add key="TypeDB" value="dst_MSSQL2016"/>
    <add key="UserDB" value="sa"/>
    <add key="PSWDB" value="Aa123456"/>
    <add key="UserSAP" value="manager"/>
    <add key="PswSAP" value="Soporte1"/>
    <add key="ServerLicenceAndPOrt" value="LAPTOP-TOS67Q14:30000"/>
    <add key="CUIT" value="30610930057"/>
  </appSettings>
</configuration>